.why-choose-us .sec5 {
  align-items: center;
}
@media (max-width: 991px) {
  .why-choose-us .sec5 {
    flex-wrap: wrap;
  }
  .why-choose-us .sec5 .car-image{
    width: 100%;
  }
  .why-choose-us .sec5 .content {
    margin-top: 30px;
  }
  .why-choose-us .sec5 .content ul {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .why-choose-us .sec5 .content ul li .offer h5 {
    font-size: 18px;
  }
  .why-choose-us .sec5 .content ul li .offer p {
    font-size: 12px;
  }
}